# Control Libraries
asyncio

# Data
datasets
huggingface_hub
pillow
opencv-python
soundfile
decord
numpy
torch
torchvision
torchaudio
vllm

# Support for Jupyter Notebooks
nest_asyncio

# Testing
pytest
pytest-asyncio
responses